<div id="app-header">

    <nav class="navbar navbar-expand navbar-dark bg-dark px-2">

        <!-- Nav bars  -->
        <div class="side-nav-button p-2 me-3 text-light" onclick="sideNavToggle()">
            <i class="fa-solid fa-bars"></i>
        </div>

        <!-- Header -->
        <a class="navbar-brand px-4" href="/home">Header</a>

        <!-- Nav items -->
        <div class="navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Menu 1
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Child 1</a></li>
                        <li><a class="dropdown-item" href="#">Child 2</a></li>
                        <li><a class="dropdown-item" href="#">Child 3</a></li>
                        <li><a class="dropdown-item" href="#">Child 4</a></li>
                    </ul>

                </li>
            </ul>
        </div>

        <!-- Search -->
        <form class="d-flex me-5">
            <input class="form-control me-2" type="search" placeholder="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>

        <!-- Profile button -->
        <div class="profile-logo dropstart">
            <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
                <%= username  %>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a href="/home/profile" class="dropdown-item">Profile</a></li>
                <li><a href="#" class="dropdown-item">Settings</a></li>
                <hr>
                
                <form action="/logout?_method=DELETE" method="POST">
                    <button class="nav-link fw-bold py-1 px-100 btn p=3 text-white" type="submit" id="btnLogout" href="/logout?_method=DELETE">Logout</button>
                    <!-- <li><a href="/logout?_method=DELETE" type="submit" id="btnLogout" class="dropdown-item">Logout</a></li> -->
                </form>
            </ul>
        </div>

    </nav>

</div>
